* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#navbar-area {
  background-color: #F4F4F4;
}
#navbar-area .container .logo {
  margin-left: 20px;
  margin-right: 40px;
}
#navbar-area .container .nav-center li {
  margin-left: 20px;
  font-size: 22px;
}
#navbar-area .container .nav-center li a {
  color: #171700;
}
#navbar-area .container .nav-center li a:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .input-icon {
  position: relative;
  display: flex;
  align-items: center;
}
#navbar-area .container .input-icon input {
  width: 180px;
  height: 37px;
  right: 0;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #010A44;
  position: absolute;
  padding-left: 15px;
  padding-bottom: 2px;
  background-color: #F4F4F4;
}
#navbar-area .container .input-icon a {
  position: absolute;
  right: 20px;
  color: black;
}
#navbar-area .container .input-icon a:hover {
  color: #65A3F2 !important;
  cursor: pointer;
}
#navbar-area .container .basket {
  cursor: pointer;
}
#navbar-area .container .basket i {
  font-size: 28px;
  color: black;
  margin-top: 13px;
}
#navbar-area .container .basket i:hover {
  color: #65A3F2 !important;
}
#navbar-area .container .basket i sup {
  font-size: small;
  top: -20px;
  right: 5px;
}
#navbar-area .container .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
#navbar-area .container .dropdown:hover .dropdown-content {
  display: block;
}
#navbar-area .container .dropdown .dropbtn {
  color: rgb(84, 85, 93);
  padding: 10px;
  font-size: 15px;
  height: 39px;
  border: none;
  cursor: pointer;
  background-color: #F4F4F4;
}
#navbar-area .container .dropdown .dropbtn i {
  font-size: 28px;
  color: black;
}
#navbar-area .container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4F4F4;
  min-width: 100px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#navbar-area .container .dropdown .dropdown-content a {
  color: black;
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  display: block;
}
#navbar-area .container .dropdown .dropdown-content a:hover {
  background-color: #65A3F2;
}

@media (max-width: 1200px) {
  #navbar-area .input input {
    width: 100px !important;
  }
  #navbar-area .input i {
    font-size: 15px;
    margin-right: -10px;
  }
  #navbar-area .logo {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  #navbar-area {
    position: relative;
  }
  #navbar-area .input-icon {
    float: left;
    margin-left: 120px;
  }
  #navbar-area .input-icon input {
    width: 100px !important;
  }
  #navbar-area .dropdown {
    margin-top: 30px !important;
  }
  #navbar-area .basket {
    margin-top: 15px;
    margin-left: 20px;
  }
}
.collapse a {
  font-size: 21px;
  font-weight: bold;
}

#slider-area {
  margin-top: 50px;
}
#slider-area .swiper {
  width: 100%;
  height: 700px;
}
#slider-area .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#slider-area .swiper .swiper-slide .image {
  width: 100%;
  height: 100%;
}
#slider-area .swiper .swiper-slide .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: brightness(0.5);
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
#slider-area .swiper .swiper-slide .text {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 15%;
  position: absolute;
  left: 0%;
  top: 0%;
}
#slider-area .swiper .swiper-slide .text p {
  color: white;
  font-size: 30px;
}
#slider-area .swiper .swiper-slide .text h1 {
  color: white;
  font-size: 100px;
}
#slider-area .swiper .swiper-slide .text button {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  font-size: 29px;
  font-weight: bold;
}
#slider-area .swiper {
  margin-left: auto;
  margin-right: auto;
}

#top-cards {
  margin-top: 70px;
}
#top-cards .product-grid {
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition: all 0.5s;
}
#top-cards .product-grid:hover {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.3);
}
#top-cards .product-grid .product-image {
  position: relative;
  overflow: hidden;
}
#top-cards .product-grid .product-image a.image {
  display: block;
}
#top-cards .product-grid .product-image img {
  width: 100%;
  height: auto;
}
#top-cards .product-image .pic-1 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.5s;
}
#top-cards .product-grid:hover .product-image .pic-1 {
  opacity: 0;
}
#top-cards .product-image .pic-2 {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
#top-cards .product-grid:hover .product-image .pic-2 {
  opacity: 1;
}
#top-cards .product-grid .product-sale-label {
  color: #fff;
  background: black;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}
#top-cards .product-grid .social {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 7px;
}
#top-cards .product-grid .social li {
  transform: translateX(60px);
  transition: all 0.3s ease 0.3s;
}
#top-cards .product-grid .social li:nth-child(2) {
  transition: all 0.3s ease 0.4s;
}
#top-cards .product-grid:hover .social li {
  transform: translateX(0);
}
#top-cards .product-grid .social li a {
  color: #707070;
  background: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  margin: 0 0 7px;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease 0s;
}
#top-cards .product-grid .social li a:hover {
  color: gray;
}
#top-cards .product-grid .product-rating {
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  padding: 10px;
  opacity: 0;
  position: absolute;
  bottom: -60px;
  left: 0;
  transition: all 0.2s ease-in-out 0s;
}
#top-cards .product-grid:hover .product-rating {
  opacity: 1;
  bottom: 0;
}
#top-cards .product-grid .rating {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
}
#top-cards .product-grid .rating li {
  color: gray;
  font-size: 13px;
}
#top-cards .product-grid .rating li.far {
  color: #999;
}
#top-cards .product-grid .add-to-cart {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid gray;
  float: right;
  transition: all 0.2s ease-in-out 0s;
}
#top-cards .product-grid .add-to-cart:hover {
  color: #000;
  border-color: #000;
}
#top-cards .product-grid .product-content {
  background: #F5F5F5;
  padding: 15px;
}
#top-cards .product-grid .title {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
#top-cards .product-grid .title a {
  color: #111;
  transition: all 500ms;
}
#top-cards .product-grid .title a:hover {
  color: gray;
}
#top-cards .product-grid .price {
  color: #707070;
  font-size: 17px;
  text-decoration: underline;
}
#top-cards .product-grid .price span {
  text-decoration: line-through;
  margin-right: 5px;
  display: inline-block;
  opacity: 0.6;
}
@media only screen and (max-width: 990px) {
  #top-cards .product-grid {
    margin-bottom: 40px;
  }
}

.card {
  margin-top: 42px;
  position: relative;
  width: 100%;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #b8acac;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "SHION";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  background: #b8acac !important;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}

#new .arrivals {
  margin-top: 40px;
  text-align: center;
}
#new .arrivals h1 {
  font-weight: bold;
  font-size: 70px;
}

#about {
  margin-bottom: 50px;
}
#about .about-us {
  position: relative;
  margin-top: 80px;
}
#about .about-us .about-image {
  width: 100%;
}
#about .about-us .about-image img {
  border-radius: 10px;
  width: 100%;
  filter: brightness(0.4);
}
#about .about-us .about-text {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  left: 0%;
  top: 0%;
}
#about .about-us .about-text h1 {
  color: white;
  font-size: 85px;
  margin-top: 110px;
}
#about .about-us .about-text .button-8 {
  background-color: gray;
  border-radius: 22px;
  width: 173px;
  height: 60px;
  border: 1px solid gray;
  box-shadow: gray 0 1px 0 0 inset;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
#about .about-us .about-text .button-8:hover,
#about .about-us .about-text .button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}
#about .about-us .about-text .button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}
#about .about-us .about-text .button-8:active {
  background-color: black !important;
  box-shadow: none;
  color: #2c5777;
}

#aa-latest-blog {
  margin-bottom: 50px;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}

#aa-latest-blog .aa-latest-blog-area {
  display: inline;
  float: left;
  width: 100%;
}

#aa-latest-blog .aa-latest-blog-area > h2 {
  margin-bottom: 50px;
  text-align: center;
}

.aa-latest-blog-single {
  display: block;
  width: 100%;
}

.aa-latest-blog-single .aa-blog-img {
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
}

.aa-latest-blog-single .aa-blog-img:hover img {
  transform: scale(1.5);
}

.aa-latest-blog-single .aa-blog-img img {
  height: 100%;
  transform: scale(1);
  transition: all 0.5s ease 0s;
  width: 100%;
}

.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption {
  transition: all 0.5s ease 0s;
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption a,
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption span {
  color: #fff;
  font-size: 12px;
  margin-right: 15px;
  font-weight: bold;
}

.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption a i,
.aa-latest-blog-single .aa-blog-img .aa-blog-img-caption span i {
  margin-right: 5px;
}

.aa-latest-blog-single .aa-blog-info {
  display: inline;
  width: 100%;
}

.aa-latest-blog-single .aa-blog-info .aa-blog-title {
  color: #222;
  font-size: 18px;
  font-weight: bold;
}

.aa-latest-blog-single .aa-blog-info .aa-blog-title a {
  color: #222;
  font-size: 18px;
  transition: all 0.5s ease 0s;
}

.aa-latest-blog-single .aa-blog-info p {
  font-size: 15px;
}

.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn {
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}

.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:hover,
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:focus {
  color: #222;
}

.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:hover span,
.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn:focus span {
  opacity: 1;
  transform: translateX(10%);
}

.aa-latest-blog-single .aa-blog-info .aa-read-mor-btn span {
  display: inline-block;
  opacity: 0;
  transform: translateX(-200%);
  transition: all 0.5s;
}

#services .feature {
  position: relative;
}
#services .feature .feature-col {
  margin-bottom: 30px;
}
#services .feature .feature-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  text-align: center;
  background: #ffffff;
}
#services .feature .feature-content i {
  color: #000000;
  font-size: 60px;
  margin-bottom: 30px;
}
#services .feature .feature-content h2 {
  font-size: 18px;
}
#services .feature .feature-content p {
  font-size: 15px;
  margin: 0;
}

#servicess .services-text {
  margin-bottom: 50px;
  text-align: center;
}

#footer-company {
  background-color: black;
  width: 100%;
  height: 321px;
}
#footer-company .container-fluid .images {
  display: flex;
}
#footer-company .container-fluid .images img {
  width: 35px;
  height: 29px;
}
#footer-company .container-fluid .texts {
  color: white;
  font-size: 11px;
}
#footer-company .container-fluid hr {
  color: white;
}
#footer-company .container-fluid .about-c {
  margin-top: 30px;
}
#footer-company .container-fluid .about-c h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .about-c p {
  color: white;
  font-size: 11px;
  cursor: pointer;
}
#footer-company .container-fluid .about {
  margin-top: 30px;
}
#footer-company .container-fluid .about h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .about p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}
#footer-company .container-fluid .about p:hover {
  color: red;
}
#footer-company .container-fluid .session {
  margin-top: 30px;
}
#footer-company .container-fluid .session h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .session p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}
#footer-company .container-fluid .session p:hover {
  color: red;
}
#footer-company .container-fluid .categories {
  margin-top: 30px;
}
#footer-company .container-fluid .categories h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .categories p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}
#footer-company .container-fluid .categories p:hover {
  color: red;
}
#footer-company .container-fluid .social {
  margin-top: 30px;
}
#footer-company .container-fluid .social h5 {
  color: white;
  font-size: 14px;
}
#footer-company .container-fluid .social p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}
#footer-company .container-fluid .social p:hover {
  color: red;
}/*# sourceMappingURL=home.css.map */